@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:wght@100&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	margin: 0;
	background-color: #daeaee;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-gap: 30px;
}

header {
	max-height: 250px;
}
.logo {
	background-image: url(../imgs/nature-logo.svg);
	width: 280px;
	height: 200px;
	background-repeat: no-repeat;
	margin-left: 30%;
	margin-top: 20px;
}
button {
	background-color: transparent;
	border: none; 
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	margin:0;
}

button:hover {
	border-bottom: 2px solid #DBBC21;
}

.image {
	margin-bottom: 80px;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 30px;
}
.info {
	max-height: 80px;
	margin-top: 0;
	margin-bottom: 10px;
}
.buttons {
	height: 50px;
	width: 100%;
}
footer {
	width: 100%;
	justify-content: center;
	margin-top: 75px;
	max-height: 50px;
	margin-left: 350px;
}

div {
	width: 300px;
	height: 300px;
	margin: 10px;
	margin-left: 0;
}

/*		TYPOGRAPHY		*/

h1 {
	font-family: 'Cinzel', serif;
	text-align: right;
	font-size: 26px;
	line-height: 20px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: right;
	line-height: 5px;
}

h3 {
	font-family: 'Cinzel', serif;
	font-size: 16px;
	width: 100%;
}
