@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:wght@100&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	margin: 0;
	max-width: 1280px;
}

img {
	max-width: 100%;
}

body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

div {
	width: 300px;
	height: 300px;
	margin: 10px;
	margin-top: 100px;
}

h1 {
	font-family: 'Cinzel', serif;
	text-align: right;
	font-size: 26px;
	line-height: 20px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: right;
	line-height: 5px;
}